.header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  color: white;
  padding: 15px 18px;
  border-bottom: 1px solid var(--border--color, white);
  background-color: transparent;
  transition: background-color 0.3s;
  .alternate {
    display: none;
    span {
      line-height: 0;
    }
    svg {
      transition: fill 0.3s;
      width: 1.5rem;
      height: 1.5rem;
      line-height: 0;
      fill: var(--text-color-header, white);
    }
  }
  @media screen and (min-width: $mobile + 1px) {
    & {
      padding: 18px 30px;

      border-bottom: none;
    }
  }

  @media screen and (max-width: $desktop - 1px) {
    // .header__nav {
    //   display: none;
    // }
    .nav__item {
      display: none;
    }
    .alternate {
      display: flex;
      margin: 0;
      &.is-left {
        margin-right: auto;
      }
    }

    .alternate + .alternate {
      margin-left: 1rem;
    }
  }
  @media screen and (min-width: $desktop + 1px) {
    & {
      padding: 18px 50px;
    }
  }
}

.header.has-no-transparent {
  background-color: #fafafa;
  .header__logo.is-white {
    opacity: 0;
    visibility: hidden;
  }
  .header__logo.is-black {
    opacity: 1;
    visibility: visible;
  }
  .heading {
    color: var(--text-color-header, black);
  }
  .alternate {
    svg {
      fill: var(--text-color-header, black);
    }
  }
}

.header__nav {
}
.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav__list .nav__item {
  cursor: pointer;
}

.nav__list.is-nowrap {
  flex-wrap: nowrap;
}

.nav__list.is-right {
  justify-content: flex-end;
}
.nav__list.is-right {
  .nav__item + .nav__item {
    margin-left: 1rem;
  }
}
.header__link {
  text-transform: uppercase;
  text-decoration: none !important;
}

.logo__wrapper {
  display: flex;
  // place-items:grid center;
  align-items: center;
  position: relative;
  height: 100%;
  transition: opacity 0.3s;

  width: 130px;
  @media screen and (min-width: $mobile+1) {
    & {
      width: 180px;
    }
  }
}

.header__logo {
  width: 130px;
  line-height: 0;
  letter-spacing: 0;
  font-size: 0;
  // position: absolute;
  left: 0;
  top: 0;
  transition: visibility opacity 0.3s;
  object-fit: cover;
  &.is-black {
    opacity: 0;
    visibility: hidden;
    position: absolute;
  }
  width: 130px;
  transition: opacity 0.3s;
  @media screen and (min-width: $mobile+1) {
    & {
      width: 180px;
    }
  }
}
