$font-sizes: 11px, 12px, 14px, 15px, 18px, 20px;
$line-heights: 18px, 20px, 23px, 25px, 30px, 33px;

$size-lineheight: (
  11: 18px,
  12: 20px,
  14: 23px,
  15: 25px,
  18: 30px,
  20: 33px,
);

$mobile: 640px;
// tablet: 768px,
$tablet: 1008px;
$desktop: 1140px;

body {
  --btn-bottom-effect-color: black;
  --navitem-space: 14px;
  --navsubitem-space: 14px;
  --sidebar-header-height: 60px;
  --sidebar-footer-height: 40px;
  --header-text-color: white;
  --header-vertical-padding: 15px;
  --header-horizontail-padding: 18px;
  --border-color: rgba(48, 48, 48, 0.5);
}
